<form [formGroup]="formSignIn1" (ngSubmit)="SignIn()" class="login-form">

  <!--*******************************************PSEUDO**************************************************************-->
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floating_pseudo" placeholder="SuperPseudoCool" name="pseudo"
           formControlName="pseudo">
    <label for="floating_pseudo">Pseudo :</label>
    <!--    <span *ngIf="loginControl.invalid && loginControl.dirty">Merci de remplir le champ de PSEUDO !</span>-->
  </div>
  <!--*****************************************************MAIL******************************************************-->
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floating_mail" placeholder="name@example.com" name="mail"
           formControlName="mail">
    <label for="floating_mail">Mail :</label>
    <!--    <span *ngIf="loginControl.invalid && loginControl.dirty">Merci de remplir le champ de MAIL !</span>-->
  </div>
  <!--************************************************MOT DE PASSE***************************************************-->
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floating_password" placeholder="SuperMotDePasse" name="password"
           formControlName="password">
    <label for="floating_password">Mot de passe :</label>
    <!--    <span *ngIf="loginControl.invalid && loginControl.dirty">Merci de remplir le champ de MOT DE PASSE !</span>-->
  </div>

</form>
