<head>
  <title>Bazaar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<nav class="navbar">
  <a routerLink="" class="brand-title"><img class="bazaar" id="titreSite" src="assets/images/Bazaar.png"></a>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <input type="text" id="barreRecherche" placeholder="Recherche"/>
  <div class="navbar-links">
    <ul>

      <li><a routerLink="login">S'identifier</a></li>
      <li><a routerLink="inscription">S'inscrire</a></li>
      <li><a routerLink="add">Ajout Enchere</a></li>
    </ul>
  </div>
</nav>




<nav class="filtres">



</nav>
