

<head>
<title>Bazaar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>




<header>
  <a class="bazaar" routerLink="" class="titre"><img class="bazaar" id="titreSite" src="assets/images/Bazaar.png"></a>

  <ul *ngIf="isConnected == false; else elseBlock" class="navbar">

    <li><fa-icon [icon] ="faMagnifyingGlass"></fa-icon><input type="text" class="barreRecherche" placeholder="Recherche" /></li>
    <li><fa-icon [icon]="faUserPlus"></fa-icon> <a routerLink="">S'inscrire</a> </li>
    <li><fa-icon [icon]="faUser"></fa-icon> <a routerLink="/login" routerLinkActive="active" >S'identifier</a></li>

  </ul>
  <ng-template #elseBlock>
    <ul class="navbar">

      <li><fa-icon [icon] ="faMagnifyingGlass"></fa-icon><input type="text" class="barreRecherche" placeholder="Recherche" /></li>
      <li><a routerLink="/add" routerLinkActive="active">Ajouter</a> </li>
      <li><a routerLink="/menuUser" routerLinkActive="active" >Profile</a></li>
      <li><a routerLink="/" routerLinkActive="active" >Déconnexion</a></li>

    </ul>
  </ng-template>

</header>

<nav class="filtres">



</nav>






