<main>
  <div class="container">

    <div class="zoneImage">
      <img [src]="'data:image/jpeg;base64,' + auction?.img" >


    </div>

    <div class="zoneEnchere">

      <div class="timer">

        <p>{{demo}}</p>

      </div>

      <span id="offreTexte">Offre actuelle</span>
      <span id="encherisseurTexte">Encherisseurs</span>
      <span id="prixOffre">{{auction?.price}}</span>
      <div class="zoneBoutons">
        <input type="text" id="offreEntree"  [(ngModel)]="price" (ngModelChange)="updatePrice($event)">
        <input value="Miser" type="button" id="miser" (click)="updateAuctionClick(auctionPatch)" >
      </div>

    </div>

    <div class="zoneDescription">
      <h2>{{auction?.title}}</h2>
      <h6>Contenu de l'offre:</h6>
      <span>{{auction?.descri}}</span>


    </div>


  </div>


</main>
