<div>
  <div>
    <div>
      <form #auctionForm="ngForm" (ngSubmit)="onFormSubmit(auctionForm)">
        <div>
          <label>Nom du produit :</label><br>
          <input type="text" ngModel name="nameAuction">
          <br>
          <fieldset>
            <legend>Adresse de récupération :</legend>
            <label>Rue:</label><br>
            <input type="text" ngModel name="street"><br>
            <label>Code Postal:</label><br>
            <input  type="text" ngModel name="postalCode"><br>
            <label>Ville:</label><br>
            <input  type="text" ngModel name="city"><br>
            <label>Pays:</label><br>
            <input  type="text" ngModel name="country"><br>
          </fieldset>
          <br>
          <label>Categorie de produit:</label>
          <select ngModel name="Categorie">
            <option value="homeAppliance">Electroménager</option>
            <option value="electronics">Appareils électroniques</option>
            <option value="vehicle">Véhicule</option>
          </select>
          <br><br>
          <button class="btn btn-primary">Valider</button>
          <button class="btn btn-primary" type="button" (click)="resetForm(auctionForm)">Vider Formulaire</button>
          <button class="btn btn-primary" routerLink="/root" routerLinkActive="active">Retour</button>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

