<div class="pro-container">
  <div class="product">
      <img src="assets/images/test.jpg"  alt="">
      <div>
        <p>prix de départ : 10$</p>
        <p>prix actuel : 35$</p>
        <div>
          <span>03</span>
          <span>:</span>
          <span>30</span>
          <span>:</span>
          <span>59</span>
        </div>
      </div>
    <button class="btn btn-primary">Enchérir</button>
    <button class="btn btn-primary" routerLink="/root" routerLinkActive="active">Retour</button>
  </div>

</div>
