<div class="pro-container">

  <div *ngFor="let auction of auctions" class="product">
    <a routerLink="detail/{{auction.id}}" class="pro">
      <img src="assets/images/hotel.jpg " alt="">
      <div class="des">
        <span class="titreEnchere">{{auction.title}}</span> <br>

        <p>$ {{auction.price}}</p>
        <div class="timer">
          <span>03</span>
          <span>:</span>
          <span>30</span>
          <span>:</span>
          <span>20</span>
        </div>

      </div>

    </a>

  </div>
</div>



