<div class="bg">
  <h1>Profil d'utilisateur</h1>
  <img src="assets/img/pp.png" id="ProfilePic" alt="profile picture" class="center">
  <br><br>
  <span id="speudo">Profil de Bart</span>
  <br>
  <h1>historique d'achat</h1>
  <table class="tableau">
    <thead>
    <tr>
      <th>Nom </th>
      <th>Prix </th>
      <th>Paiement bouton</th>
    </tr>
    </thead>

    <tbody>
    <div *ngFor="let auction of auctions">
     <div *ngIf="auction.idUser == 1">
        <tr>
          <td>{{auction.title}}</td>
          <td>{{auction.price}}</td>
          <td><button (click)="pay(value)" class="btn">${{auction.price}}</button></td>
        </tr>

      </div>
    </div>
    </tbody>
  </table>
  <button routerLink="" routerLinkActive="active" class="btn">Retour</button>
</div>
