<div class="bg">
  <h1>Profil d'utilisateur</h1>
  <br><br>
  <span id="speudo">{{user?.pseudo}}</span>
  <br>
  <br>
  <h2>historique d'achat</h2>
  <table class="tableau">
    <thead>
    <tr>
      <th>Nom </th>
      <th>Prix </th>
      <th>Paiement bouton</th>
    </tr>
    </thead>

    <tbody>
    <div *ngFor="let auction of auctionPayment">
        <tr>
          <td>{{auction.title}}</td>
          <td>{{auction.price}}</td>
          <td><button (click)="pay(value)" class="btn">${{auction.price}}</button></td>
        </tr>
    </div>
    </tbody>
  </table>
  <button routerLink="" routerLinkActive="active" class="btn">Retour</button>
</div>
